<html>
    <head>
        <title>Question Search</title>
    </head>
    <body>
        {% if error %}
            <div id="error">Please submit a search term</div>
        {% endif %}

        <form action="/search/search/" method="get">
            <input type="text" name="q">
            <input type="submit" value="Search">
        </form>

            <p>You searched for: <strong>{{ query }}</strong></p>
            {% if question_search %}
                <p>Found {{ question_search.count }}.</p>
                <ul>
                    {% for question in results %}
                        <li><a href="/questions/{{question.id}}/">{{ question.question_asked }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No questions matched your search criteria.</p>
        {% endif %}
    </body>
</html>